<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themify-icons-font/themify-icons/themify-icons.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="main">
        <div id="header">
            <div class="top-head">
                <div class="CRlogo">
                    <a href="/Home/Index">
                        <img class="logo-xgear" width="675" heigth="322" src="~/Content/img/Xgear-logo.png" alt="">
                    </a>
                </div>
                <ul class="section-input" style="list-style-type:none; line-height:35px;">
                    <li style="margin-left:10px;padding:2px 5px; background: linear-gradient(#c0c0c0,#c0c0c0) padding-box,linear-gradient(95.18deg,#EB67CB 43.94%,#6285F0 91.72%); color: #000; border-radius: 20px; border: 2px solid transparent; ">
                        <a href="/Product/SearchOption" class="btn btn-default" style="text-decoration:none; color:black;">Search theo giá</a>
                    </li>
                </ul>


            </div>
            <div class="user-header">
                <div class="check-items">
                    <div class="user-section" style="line-height:50px;">
                        <a href="/LoginUser/RegisterUser" style="font-size: 14px; margin-top: 2px; text-decoration: none;"> Đăng Ký </a>
                        <a href="/LoginUser/Index" style="font-size: 14px; margin-top: 2px; text-decoration: none; "> Đăng Nhập </a>
                        <a href="@Url.Action("LogoutUser","LoginUser")" style="margin-top: 2px; font-size: 14px; text-decoration: none;">Đăng Xuất </a>

                        <a href="/ShoppingCart/ShowCart" style="text-decoration:none;"><i class="mlr8 btn-user ti-shopping-cart"></i></a>
                        <a style="padding-top:15px; color:white;">
                            @if (Session["NameUser"] == null)
                            {
                                <span>Hello</span>
                            }
                            else
                            {
                                <span> <text> Hello </text> @Session["NameUser"] </span>
                            }

                        </a>
                    </div>
                </div>
            </div>

            <div id="nav">
                <ul>
                    <li class="nav-header">
                        <a href="">
                            Laptop
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="">
                                    Laptop Acer
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Aspire 7</a></li>
                                    <li><a href="">Nitro 5</a></li>
                                    <li><a href="">Helios</a></li>
                                    <li><a href="">Triton</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Laptop Asus
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Laptop Asus văn phòng - đồ họa</a></li>
                                    <li><a href="">TUF Series</a></li>
                                    <li>
                                        <a href="">
                                            ROG Series
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">Strix</a></li>
                                            <li><a href="">Zephyrus</a></li>
                                            <li><a href="">Flow</a></li>
                                            <li><a href="">Scar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Laptop Lenovo
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Lenovo Văn phòng - Đồ họa</a></li>
                                    <li><a href="">Ideapad Gaming</a></li>
                                    <li><a href="">Legion Gaming</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Laptop MSI
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">MSI văn phòng - Đồ hoạ</a></li>
                                    <li>
                                        <a href="">
                                            Gaming AMD Series
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">Bravo</a></li>
                                            <li><a href="">Alpha</a></li>
                                            <li><a href="">Delta</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            Gaming Intel Series
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">GF</a></li>
                                            <li><a href="">GL</a></li>
                                            <li><a href="">GP</a></li>
                                            <li><a href="">GE</a></li>
                                            <li><a href="">GS</a></li>
                                            <li><a href="">GT</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="">Laptop HP</a></li>
                            <li>
                                <a href="">
                                    Laptop Dell
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Dell Văn phòng</a></li>
                                    <li><a href="">Dell Gaming -Đồ họa</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            XGEAR PC
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="">
                                    Xgear PC
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav1">
                                    <li><a href="">PC Gaming</a></li>
                                    <li><a href="">PC Đồ Họa</a></li>
                                    <li><a href="">PC Văn Phòng</a></li>
                                </ul>
                            </li>
                            <li><a href="">Mini PC</a></li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            Màn hình
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="">
                                    Màn hình theo hãng
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav1">
                                    <li><a href="">Màn Hình Asus</a></li>
                                    <li><a href="">Màn Hình Acer</a></li>
                                    <li><a href="">Màn Hình Gigabyte</a></li>
                                    <li><a href="">Màn Hình MSI</a></li>
                                    <li><a href="">Màn Hình Dell</a></li>
                                    <li><a href="">Màn Hình Phillips</a></li>
                                    <li><a href="">Màn Hình Samsung</a></li>
                                </ul>
                            </li>
                            <li><a href="">Màn hình Gaming</a></li>
                            <li><a href="">Màn hình đồ họa</a></li>
                        </ul>

                    </li>

                    <li class="nav-header">
                        <a href="">
                            Linh Kiện
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="">
                                    CPU
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">CPU AMD</a></li>
                                    <li><a href="">CPU Intel</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Mainboard
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li>
                                        <a href="">
                                            Main Asus
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">Mainboard Asus Intel</a></li>
                                            <li><a href="">Mainboard Asus AMD</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            Main Gigabyte
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">Mainboard Gigabyte Intel</a></li>
                                            <li><a href="">Mainboard Gigabyte AMD</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            Main MSI
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">Mainboard MSI Intel</a></li>
                                            <li><a href="">Mainboard MSI AMD</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    RAM
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li>
                                        <a href="">
                                            RAM PC
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">RAM TeamGroup</a></li>
                                            <li><a href="">RAM Corsair</a></li>
                                            <li><a href="">RAM Kingston</a></li>
                                            <li><a href="">RAM Gigabyte</a></li>
                                            <li><a href="">RAM GSkill</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">Ram Laptop</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    VGA
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li>
                                        <a href="">
                                            VGA Asus
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">VGA Asus RTX 4000</a></li>
                                            <li><a href="">VGA Asus GTX</a></li>
                                            <li><a href="">VGA Asus RTX 2060</a></li>
                                            <li><a href="">VGA Asus RTX 3060 - 3060Ti</a></li>
                                            <li><a href="">VGA Asus RTX 3070 - 3070Ti</a></li>
                                            <li><a href="">VGA Asus RTX 3080 - 3080Ti</a></li>
                                            <li><a href="">VGA Asus RTX 3090 - 3090Ti</a></li>
                                            <li><a href="">VGA Asus Radeon RX</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            VGA Gigabyte
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">VGA Gigabyte RTX 4000</a></li>
                                            <li><a href="">VGA Gigabyte GTX</a></li>
                                            <li><a href="">VGA Gigabyte RTX 2060</a></li>
                                            <li><a href="">VGA Gigabyte RTX 3060 - 3060Ti</a></li>
                                            <li><a href="">VGA Gigabyte RTX 3070 - 3070Ti</a></li>
                                            <li><a href="">VGA Gigabyte RTX 3080 - 3080Ti</a></li>
                                            <li><a href="">VGA Gigabyte RTX 3090 - 3090Ti</a></li>
                                            <li><a href="">VGA Gigabyte AMD Radeon</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">
                                            VGA MSI
                                            <i class="btn-right ti-angle-right"></i>
                                        </a>
                                        <ul class="sub-subnav1">
                                            <li><a href="">VGA MSI RTX 4000</a></li>
                                            <li><a href="">VGA MSI GTX</a></li>
                                            <li><a href="">VGA MSI RTX 2060</a></li>
                                            <li><a href="">VGA MSI RTX 3060 - 3060Ti</a></li>
                                            <li><a href="">VGA MSI RTX 3070 - 3070Ti</a></li>
                                            <li><a href="">VGA MSI RTX 3080 - 3080Ti</a></li>
                                            <li><a href="">VGA MSI RTX 3090 - 3090Ti</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    SSD
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">SSD 120GB - 128GB</a></li>
                                    <li><a href="">SSD 240GB - 256GB</a></li>
                                    <li><a href="">SSD 480GB - 512GB</a></li>
                                    <li><a href="">SSD 1TB - 2TB</a></li>
                                    <li><a href="">SSD 2.5' SATA III</a></li>
                                    <li><a href="">SSD M.2 2280</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    HDD
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">HDD Laptop</a></li>
                                    <li><a href="">HDD PC</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Case Máy tính
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Case 1st Player</a></li>
                                    <li><a href="">Case Asus</a></li>
                                    <li><a href="">Case Antec</a></li>
                                    <li><a href="">Case Cooler Master</a></li>
                                    <li><a href="">Case Corsair</a></li>
                                    <li><a href="">Case Deepcool</a></li>
                                    <li><a href="">Case Gigabyte</a></li>
                                    <li><a href="">Case MSI</a></li>
                                    <li><a href="">Case Xigmatek</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Nguồn máy tính
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Nguồn Corsair</a></li>
                                    <li><a href="">Nguồn Cooler Master</a></li>
                                    <li><a href="">Nguồn Deepcool</a></li>
                                    <li><a href="">Nguồn Gigabyte</a></li>
                                    <li><a href="">Nguồn MSI</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Tản nhiệt CPU
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Tản nhiệt Cooler Master</a></li>
                                    <li><a href="">Tản nhiệt Corsair</a></li>
                                    <li><a href="">Tản nhiệt Deepcool</a></li>
                                    <li><a href="">Tản nhiệt Gigabyte</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Quạt Case
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Quạt Cooler Master</a></li>
                                    <li><a href="">Quạt Corsair</a></li>
                                    <li><a href="">Quạt Deepcool</a></li>
                                    <li><a href="">Quạt Xigmatek</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            Gaming Gear
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="">
                                    Bàn phím
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Bàn Phím Asus</a></li>
                                    <li><a href="">Bàn Phím Akko</a></li>
                                    <li><a href="">Bàn Phím Havit</a></li>
                                    <li><a href="">Bàn Phím HyperX</a></li>
                                    <li><a href="">Bàn Phím Logitech</a></li>
                                    <li><a href="">Bàn Phím Razor</a></li>
                                    <li><a href="">Bàn Phím Rapoo</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Chuột
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Chuột Asus</a></li>
                                    <li><a href="">Chuột HyperX</a></li>
                                    <li><a href="">Chuột Havit</a></li>
                                    <li><a href="">Chuột Razer</a></li>
                                    <li><a href="">Chuột Logitech</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Lót chuột
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Lót chuột Razer</a></li>
                                    <li><a href="">Lót chuột HyperX</a></li>
                                    <li><a href="">Lót chuột Havit</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Tai nghe
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Tai nghe Asus</a></li>
                                    <li><a href="">Tai nghe Havit</a></li>
                                    <li><a href="">Tai nghe HyperX</a></li>
                                    <li><a href="">Tai nghe Logitech</a></li>
                                    <li><a href="">Tai nghe Razer</a></li>
                                    <li><a href="">Tai nghe Rapoo</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Microphone
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Micro HyperX</a></li>
                                    <li><a href="">Micro Razer</a></li>
                                </ul>
                            </li>
                            <li><a href="">Loa</a></li>
                            <li><a href="">Webcam</a></li>
                            <li><a href="">Tay cầm</a></li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            Phụ Kiện
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Balo-Túi đeo</a></li>
                            <li><a href="">Thiết bị mạng</a></li>
                            <li><a href="">Đế tản nhiệt Laptop</a></li>
                            <li><a href="">Phụ kiện Razer</a></li>
                            <li><a href="">Phụ kiện HyperX</a></li>
                            <li><a href="">Phụ kiện PC</a></li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            Apple
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Imac</a></li>
                            <li>
                                <a href="">
                                    Macbook
                                    <i class="btn-right ti-angle-right"></i>
                                </a>
                                <ul class="sub-subnav">
                                    <li><a href="">Macbook Pro</a></li>
                                    <li><a href="">Macbook Air</a></li>
                                    <li><a href="">Cổng chuyển Macbook</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <a href="">
                            Xgear Corner
                            <i class="btn-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Bàn</a></li>
                            <li><a href="">Ghế</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div id="content">
                <div class="text-content">
                    <h1 class="">Laptop Gaming MSI Bravo 15 B5DD 276VN Radeon RX5500M Ryzen 5 5600H 8GB 512GB 15.6” IPS Backlight Keyboard Win 11</h1>
                    <div class="stock-status">
                        <a href="">Còn hàng</a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-info">
                        <p class="percent-box">
                            <span class="discount-percent">-22%</span>
                        </p>
                        <img width="350" height="350" class="img-product" src="./img/276VN-1-900x900-1.jpg" alt="">
                    </div>
                    <div class="product-info">
                        <div class="box-cost">
                            <div class="box-1">
                                <div class="main-price">
                                    <p>Mua ngay</p>
                                    <div class="wrap-price">
                                        <del>22,490,000 đ</del>
                                        <span>17,490,000 đ</span>
                                    </div>
                                </div>
                                <div class="or">
                                    <p>Hoặc</p>
                                </div>
                                <div class="prepay-price">
                                    <p>Trả trước từ</p>
                                    <div class="wrap-price">
                                        <span>1,749,000 đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-2">
                            <div class="wrap">
                                <p>Khuyến mãi</p>
                                <div class="cont">
                                    <p>
                                        <span class="black-friday">
                                            * Giá Black Friday chỉ 15.490.000đ. Số lượng: 3 chiếc *
                                        </span>
                                        <b class="ap-dung">
                                            (áp dụng đến hết 25/11)
                                        </b> <br>
                                        <b class="mt8">Nhận chim nhồi bông đến 30/11 (hoặc hết quà).</b>
                                        <ul class="upgrade-list mt8">
                                            <li>♦ Nâng cấp lên <b>16GB Ram </b>chỉ <b class="red">490.000đ</b></li>
                                            <li>♦ Balo <b>MSI</b></li>
                                            <li>♦ Chuột <b>Gaming MSI</b></li>
                                            <li>♦ Túi chống sốc</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box-2">
                            <div class="wrap">
                                <div class="hot-line">
                                    <i class="telephone-icon ti-mobile red"></i>
                                    <a href="tel:++842871081881">
                                        Hotline: <br>
                                        <b>(028) 7108 1881</b>
                                    </a>
                                </div>
                                <div class="cont">
                                    <p>» Miễn phí giao hàng toàn quốc (không áp dụng LCD)</p>
                                    <p>» Giao nhanh 2h chỉ 20k( nội thành HCM - HN)</p>
                                </div>
                                <div class="charge-card">
                                    <p class="cont">Miễn phí charge thẻ</p>
                                    <div class="card-list">
                                        <img class="mr20" width="32" height="32" src="./img/visa.png" alt="">
                                        <img class="mr20" width="32" height="32" src="./img/mastercard.png" alt="">
                                        <img class="mr20" width="32" height="32" src="./img/atm.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product-detail">
                    <div class="container">
                        <div class="row">
                            <div class="product-center">
                                <div class="box-left">
                                    <h4 class="title">Thông số kỹ thuật</h4>
                                    <ul>
                                        <li>
                                            <p class="feature-title">CPU</p>
                                            <p class="feature-title">
                                                AMD Ryzen 5 5600H
                                            </p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Card đồ họa</p>
                                            <p class="feature-title">Radeon RX5500M 4GB</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Bộ nhớ RAM</p>
                                            <p class="feature-title">DDR4 8GB (1 x 8GB) 3200MHz; 2 slots, up to 32GB</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Ổ cứng SSD</p>
                                            <p class="feature-title">512GB SSD NVMe M.2 PCIe Gen 3 x 4</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Màn hình</p>
                                            <p class="feature-title">
                                                15.6" FullHD (1920 x 1080), 60Hz, IPS Panel
                                            </p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Hệ điều hành</p>
                                            <p class="feature-title">Windows 11 SL 64 Bit</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Lan</p>
                                            <p class="feature-title">Gigabit Lan</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Wireless Lan</p>
                                            <p class="feature-title">AMD Wi-Fi 6E RZ608</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Cổng kết nối</p>
                                            <p class="feature-title">1x Type-A USB2.0 1x RJ45 1x (4K  60Hz) HDMI 1x Type-C USB3.2 Gen1 2x Type-A USB3.2 Gen1</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Bàn phím</p>
                                            <p class="feature-title">
                                                Backlight Keyboard (Red)
                                            </p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Pin</p>
                                            <p class="feature-title">
                                                3 Cell
                                            </p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Kích thước</p>
                                            <p class="feature-title">359 x 254 x 21.7 mm</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Trọng lượng</p>
                                            <p class="feature-title">2.35 kg</p>
                                        </li>
                                        <li>
                                            <p class="feature-title">Bảo hành</p>
                                            <p class="feature-title">12 tháng Chính Hãng-</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-right">
                                <div class="small">
                                    <h4 class="title">MÔ TẢ SẢN PHẨM</h4>
                                    <div class="box-text">
                                        <h1>
                                            MSI BRAVO 15 B5DD 276VN
                                        </h1>
                                        <p class="mt30"></p>
                                        <p>MSI Bravo 15 B5DD 276VN sẵn sàng cho chiến trường game rực lửa. Kết hợp R5 5600H và Radeon™ RX 5500M, Bravo 15 sẽ làm thỏa mãn mọi game thủ. Tản nhiệt độc quyền của MSI – Cooler Boost 5, CPU và GPU sẽ thoải mái phát huy được tối đa hiệu năng. Tận dụng sức mạnh của Bravo 15 và tung hoành trên chiến trường ảo, giống như lôi điểu trong truyền thuyết!</p>
                                        <section>
                                            <p>Phục kích ở nơi hiểm yếu, quan sát kĩ càng kẻ địch trước khi xuất trận mạnh mẽ, Bravo 15 đã sẵn sàng cho chiến trường game rực lửa. Kết hợp giữa vi xử lí AMD Ryzen™ 5000 series và card đồ họa AMD Radeon™ RX 5500M, Bravo 15 sẽ làm thỏa mãn mọi game thủ. Với giải pháp tản nhiệt độc quyền của MSI – Cooler Boost 5, CPU và GPU sẽ thoải mái phát huy được tối đa hiệu năng. Màn hình chuyên game 144Hz mang tới hình ảnh sắc nét và mượt mà, giúp các game thủ bắt kịp mọi tình huống. Tận dụng sức mạnh của Bravo 15 và tung hoành trên chiến trường ảo, giống như lôi điểu trong truyền thuyết!</p>
                                            <p><img src="./img/photo1.jpg" alt=""></p>
                                            <p><img src="./img/photo2.jpg" alt=""></p>
                                            <p><img src="./img/photo3.jpg" alt=""></p>
                                            <p><img src="./img/photo4.jpg" alt=""></p>
                                            <p><img src="./img/photo5.jpg" alt=""></p>
                                            <h2>THĂNG CẤP MẠNH MẼ</h2>
                                            <p>Hãy tưởng tượng bạn như thần thú lôi điểu đang tung cánh trên không. Ánh mắt sắc bén dõi theo từng chuyển động của con mồi. Logo lôi điểu được khắc trên nắp máy màu đen. Các đường viền góc cạnh giúp làm nổi bật lên thiết kế mạnh mẽ và đầy phong cách. Nhìn bên ngoài, các game thủ đã có thể nhận ra ngay sức mạnh của Bravo series.</p>
                                            <p><img src="./img/photo6.jpg" alt=""></p>
                                            <h2>THIẾT KẾ CHUẨN GAMING</h2>
                                            <p>Với đèn nền đỏ, khung bàn phím bằng kim loại và hành trính phím sâu tới 1.7mm, cho cảm giác phản hồi và độ nảy tốt hơn hẳn. Chiếc bàn phím có thiết kế công thái học này sẽ đáp ứng mọi yêu cầu của game thủ.</p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb50"></div>
        <div id="footer">
            <div class="footer-top">
                <div class="info-contact">
                    <h4>Thông tin liên hệ</h4> <br>
                    <b>028 7108 1881 - 090 703 1881</b> <br><br>
                    <p>sales@thenewxgear.com</p>
                    <p>support@thenewxgear.com</p><br>
                    <p>
                        HCM : Thứ 2 - Thứ 7 09h:00 - 20h:00  <br>
                        HCM : Chủ nhật 09h:00 - 19h:00  <br>
                        HN : Thứ 2 - Thứ 7 09h:00 - 20h:00 <br>
                        HN : Chủ nhật 09h:00 - 19h:00
                    </p>
                    <div class="img-cert">
                        <img class="img-cert-1" width="90" height="40" src="~/Content/img/cert1.png" alt="">
                        <img class="img-cert-2" width="90" height="40" src="~/Content/img/cert2.png" alt="">
                    </div>
                </div>
                <div class="info-contact">
                    <h4>Hệ thống cửa hàng</h4>
                    <li>
                        <i class="address-pin ti-location-pin"></i>
                        10A1, Ngõ 49 Linh Lang, Ba Đình, Hà Nội
                    </li>
                    <li>
                        <i class="address-pin ti-location-pin"></i>
                        73 Tự Cường, Phường 4, Tân Bình, Hồ Chí Minh
                    </li>
                    <li>
                        <i class="address-pin ti-location-pin"></i>
                        08 Tự Lập, Phường 4, Tân Bình, Hồ Chí Minh
                    </li>
                </div>
                <div class="info-contact">
                    <h4>Đăng ký nhận bản tin</h4>
                    <input type="text" placeholder="Nhập email của bạn" class="type-email">
                    <input type="submit" class="submit-email" value="Gửi" />
                    <h4 class="ptb24">Hỗ trợ thanh toán</h4>
                    <img class="img-pay" width="30" height="30" src="~/Content/img/visa.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/jcb.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/mastercard.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/atm.png" alt=""><br>
                    <img class="img-pay" width="30" height="30" src="~/Content/img/moca.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/viettelpay.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/momo.png" alt="">
                    <img class="img-pay" width="30" height="30" src="~/Content/img/zalopay.png" alt="">
                </div>
                <div class="info-contact">
                    <h4>Liên kết nhanh</h4>
                    <div>
                        <ul class="contact-list">
                            <li><a href="">Về Xgear</a></li>
                            <li><a href="">Sản phẩm</a></li>
                            <li><a href="">Liên hệ </a></li>
                            <li><a href="">Tin Tức</a></li>
                        </ul>
                    </div>
                    <h4 class="mt30">Hướng dẫn mua hàng</h4>
                    <div>
                        <ul class="shopping-guide">
                            <li><a href="">Cách thức mua hàng</a></li>
                            <li><a href="">Chính sách thu hồi hàng hóa</a></li>
                            <li><a href="">Chính sách bảo hành</a></li>
                            <li><a href="">Hình thức thanh toán</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt30 footer-bot">
                <div class="copyright-section">
                    <p>
                        Copyright © 2022 Xgear | All rights reserved | Chứng nhận đăng ký doanh nghiệp số : 0316898252 do sở KH và ĐT TP Hồ Chí Minh cấp.
                    </p>
                </div>
                <div class="social">
                    <ul>
                        <li><a href=""><i class="ti-instagram"></i></a></li>
                        <li><a href=""><i class="ti-facebook"></i></a></li>
                        <li><a href=""><i class="ti-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("img-slide");
          var dots = document.getElementsByClassName("demo");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" xgear-black", "");
          }
          x[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " xgear-black";
        }


    </script>

</body>
</html>


