
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Quan Ly Danh Muc", "Category", "Admin")</li>
    <li>@Html.ActionLink("Quan Ly San Pham", "Product", "Admin")</li>
</ul>
